*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

body{
    font-family: arial;
}

.form-registro{
    width: 400px;
    background: #4e4d4d;
    padding: 20px 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'calibri';
    color: white;
}

.form-registro h2{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background: #ffffff;
    padding: 11px 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px slid #1f53c5;
    font-family: 'Calibri';
    font-size: 18px;
} 

.form-registro p {
    height: 40px;
    text-align: center;
    font-size:18px;
}

.form-registro .botons{
    width:250px;
    background: #1f53c5;
    border: none;
    padding: 20px;
    color:white;
    margin: 20px 0;
    font-size:16px;
}