<<<<<<< HEAD
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
        font-family: arial;
        background-image: url('Gris.jpg');
    }

.form-DatosAlumno{
    width: 500px;
    background:#ffffff;
    padding: 20px 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'calibri';
    color: white;
}

.form-DatosAlumno h2{
    background: #F3FF00;
    text-align: center;
    position: 0;
    font-size: 32px;
    margin-bottom: 20px;
}

.form-DatosAlumno.table{
    margin:0;
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.th{
    width: 100%;
    background: #ffffff;
    padding: 11px 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 5px slid #1f53c5;
    font-family: 'Calibri';
    font-size: 18px;
} 

.botons{
    width:250px;
    background: #1f53c5;
    border: none;
    padding: 20px;
    color:white;
    margin: 20px 0;
    font-size:16px;
=======
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
        font-family: arial;
        background-image: url('Gris.jpg');
    }

.form-DatosAlumno{
    width: 500px;
    background:#ffffff;
    padding: 20px 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'calibri';
    color: white;
}

.form-DatosAlumno h2{
    background: #F3FF00;
    text-align: center;
    position: 0;
    font-size: 32px;
    margin-bottom: 20px;
}

.form-DatosAlumno.table{
    margin:0;
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.th{
    width: 100%;
    background: #ffffff;
    padding: 11px 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 5px slid #1f53c5;
    font-family: 'Calibri';
    font-size: 18px;
} 

.botons{
    width:250px;
    background: #1f53c5;
    border: none;
    padding: 20px;
    color:white;
    margin: 20px 0;
    font-size:16px;
>>>>>>> 3574fbebd99c09be04ddb025f7be7162c62c29d1
}