<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> Eliminar Flor</title>
</head>
<body>
    
    {%with mensajes = get_flashed_messages() %}
        {% if mensajes%}
        {%for msj in mensajes%}
            <h3> {{ msj }} </h3>
        {%endfor%}
        {% endif %}
    {%endwith%}
    
    <center>
        <br>
        <h1> Eliminar Flor </h1>
        <br>
        <br>
        <form action="/eliminar/{{ flor.0 }}" method="POST">
            <input type="text" name="txtNombre" value="{{ flor.1}}">
            <input type="number" name="txtCantidad" value="{{ flor.2 }}">
            <input type="float" name="txtPrecio" value="{{ flor.3 }}">
            
            <button type="submit"> Eliminar </button>

        </form>
    </center>
</body>